.container{
  width: calc(100% - 200px);
  margin:0 auto;
  overflow-x:scroll;
}

.axis .domain {
  display: none;
}

body{
  overflow: hidden;
}

@keyframes textAnimation{
  0% { transform: scale (1); letter-spacing: 0 }
  50% { transform: scale (2.5); letter-spacing:5px }
  100% { transform: scale (1); letter-spacing: 0 }
}

h1{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: "40px";
  color: pink;
  text-shadow: 2px 2px red;
  text-align: center;
  animation-name: textAnimation;
  animation-duration: 10s;
}
